body {
  overflow-x: hidden;
}

.bgImg {
  height: 100vh;
  position: absolute;
  background-image: url("./assets/3366374.jpg");
}

#mySidenav a {
  position: fixed;
  left: -100px;
  transition: 0.3s;
  padding: 15px;
  width: 150px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
  z-index: 50;
}

#mySidenav a:hover {
  left: 0;
}

#Home {
  top: 170px;
  background-color: #4caf50;
}

#Browse {
  top: 230px;
  background-color: #2196f3;
}

#Radio {
  top: 290px;
  background-color: #f44336;
}

#Albums {
  top: 350px;
  background-color: #555;
}
#Artists {
  top: 410px;
  background-color: #f44336;
}
#Podcast {
  top: 470px;
  background-color: #2196f3;
}

/* Recent tabb */
.myBody {
  font-family: tahoma;
  /* height: 100vh; */
  background-image: url(https://picsum.photos/g/3000/2000);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1f1f1f;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1f1f1f;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.team-content .title {
  display: block;
  font-size: 1rem;
  color: #4e5052;
  text-transform: capitalize;
}

.team-content .name {
  font-size: larger;
  font-weight: bold;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1f1f1f;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}

.so :hover {
  background-color: red;
}

/* Header */

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.navbar {
  transition: all 0.4s;
}

#recent {
  margin-top: 90px;
}

/* Change navbar styling on scroll */
.navbar.active {
  background: white;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-nav {
  flex-direction: row;
}

.container .navbar-brand {
  color: yellow;
  font-size: xx-large;
}

.nav-item a {
  background-color: #17181a;
  color: white;
}

.nav-item a:hover {
  text-decoration: none;
  color: yellow;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar.active .navbar-brand {
  color: #555;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
/* .text-small {
  font-size: 0.9rem !important;
}


.headbody {
  min-height: 110vh;
  background-color: #4ca1af;
  background-image: linear-gradient(135deg, #4ca1af 0%, #c4e0e5 100%);
} */

.nm {
  font-weight: bolder;
}

.nm #cat {
  font-weight: lighter;
}

@media only screen and (max-width: 750px) {
  #cat {
    display: none;
  }
  #art {
    display: none;
  }

  .nm {
    margin-left: 50px;
    padding-top: 0px;
    font-size: 0.9rem;
  }
  #pb {
    display: inline;
  }
}
